@import "../colors.less";
@import "../fonts.less";
@import "../variables.less";

@MessageEditor-padding: 10px;
@MessageEditor-space-between-icons: 10px;
@MessageEditor-icon-font-size: 16px;
@MessageEditor__textAreaWrapper-height: @message-editor-height - 55px;
@MessageEditor__sendButton-offset: 50px;

.MessageEditor {
  height: @message-editor-height;
  max-height: @message-editor-height;
  position: relative;
  background-color: white;
  border-top: 1px solid @border-color-light;
  padding: @MessageEditor-padding;
  // to be on the bottom of the page
  margin-top: auto;

  .glyphicon, .svg-inline--fa {
    cursor: pointer;

    &:hover {
      color: @color-icons-hovered;
    }
  }

  .svg-inline--fa {
    margin-right: @MessageEditor-space-between-icons;
  }

  .draftJsEmojiPlugin__emojiSelect__34S1B {
    display: inline-block;
    margin-right: 15px;
  }

  .draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
    margin-top: 10px;
    padding: 0 .3em;
    position: absolute;
    z-index: 1000;
    box-sizing: content-box;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 30px 0 gainsboro;
    max-height: 250px;
    bottom: 140px;
  }

  .draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m {
    margin: 0 0 .3em;
    position: relative;
    z-index: 0;
    width: 21em;
    height: 175px;
  }
}

.MessageEditor__operationPane {
  display: flex;
  align-items: center;
}

.MessageEditor__textAreaWrapper {
  height: @MessageEditor__textAreaWrapper-height;
  margin-top: 10px;
  overflow: auto;
  /* make width only 80% so mention suggestion usually don't overflow page*/
  width: 80%;
}

.MessageEditor__sendButton {
  position: absolute;
  right: 25px;
  bottom: 15px;
  z-index: 10;
}

/** suggestions should not overflow page */
.draftJsMentionPlugin__mentionSuggestions__2DWjA {
  max-height: 150px;
  overflow: auto;
}