@import "../colors.less";
@import "../fonts.less";
@import "../variables.less";

@MessageEditor-padding: 10px;
@MessageEditor-space-between-icons: 10px;
@MessageEditor-icon-font-size: 16px;
@MessageEditor__textAreaWrapper-height: @message-editor-height - 50px;
@MessageEditor__sendButton-offset: 50px;

.MessageEditor {
  height: @message-editor-height;
  position: relative;
  background-color: white;
  border-top: 1px solid @border-color-light;
  padding: @MessageEditor-padding;
  // to be on the bottom of the page
  margin-top: auto;

  .glyphicon, .svg-inline--fa {
    cursor: pointer;

    &:hover {
      color: @color-icons-hovered;
    }
  }

  .glyphicon {
    font-size: @MessageEditor-icon-font-size;
    margin-right: @MessageEditor-space-between-icons;
    position: relative;
    top: 3px;
    font-weight: bold;
  }

  .svg-inline--fa {
    margin-right: @MessageEditor-space-between-icons;
  }
}

.MessageEditor__textAreaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  height: @MessageEditor__textAreaWrapper-height;
  margin-top: 10px;
}

.MessageEditor__textArea {
  width: 100%;
  padding-right: 65px;
  height: 90%;
  resize: none;
}

.MessageEditor__sendButton {
  position: absolute;
  right: 15px;
  bottom: 13px;
  z-index: 10;
}