@import "node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
// importing general variables
@import "./colors.less";

// importing styles for components
@import "src/components/ChannelItem.less";
@import "src/components/ChannelHeader.less";
@import "src/components/MessageEditor.less";
@import "src/components/Message.less";
@import "src/components/MessageRate.less";
@import "src/components/DropDownMenu.less";

@header-height: 60px;

body {
  font-family: 'Roboto', sans-serif;
}


.wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas:
          "header header"
          "sidebar content";
  grid-template-rows: @header-height auto;
  height: 100vh;
}
.header {
  grid-area: header;
  background-color: @header-color;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.header h1 {
  color: white;
  margin: 0;
}
.sidebar {
   grid-area: sidebar;
   background-color: black;
   padding: 0 20px;
 }

.sidebar h3{
  color: #e2e2e2;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: @header-color;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.badge {
  background-color: #F79C42;
}

.content {
  grid-area: content;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
