@import "../../colors.less";

@MessageEditor-height: 100px;
@MessageEditor-padding: 10px;

.MessageEditor {
  height: @MessageEditor-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid @border-color-light;
  padding: @MessageEditor-padding;
}